.header-nav{
    margin: 0 20% 0 3%;
    /*margin-left: 5%;*/
    /*margin-right: 20%*/
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
}

.header{
    padding: 0 0 1vh 0;
    margin: 0;
    border-bottom: var(--border-color) solid 1px;
}


.nav-list{
    /*background: aqua;*/
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex: 1;
}

.sub-list{
    list-style-type: none;
    padding: 0.2vh;
}

.sub-list h3{
    cursor: default;
    font-weight: normal;
    margin-top: 1vh;
    font-size: 1.5rem;
    margin-bottom: 0.5vh;
}

.sub-list li:hover{
    cursor: pointer;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    margin-top: 1vh;
    border-radius: 50%;
    transition: background-color 0.2s ease, transform 0.2s ease;
}



.theme-toggle svg {
    width: 24px;
    height: 24px;
}